<template>
    <footer>
        <div class="left">
            <h1>MNTN</h1>
            <p>
                Get out there & discover your next <br />
                slope, mountain & destination!
            </p>
        </div>
        <div class="right">
            <section class="right__container--1">
                <h1>More on The Blog</h1>
                <ul>
                    <li>About MNTN</li>
                    <li>Contributors & Writers</li>
                    <li>Write For Us</li>
                    <li>Contact Us</li>
                    <li>Privacy Policy</li>
                </ul>
            </section>
            <section class="right__container--2">
                <h1>More on MNTN</h1>
                <ul>
                    <li>The Team</li>
                    <li>Jobs</li>
                    <li>Press</li>
                </ul>
            </section>
        </div>
    </footer>
</template>


<script>
export default {
    name: 'Footer'
}
</script>


<style scoped>
footer{
    display: grid;
    color: white;
    grid-template-columns: 60% 40%;
    width: 80%;
    margin: 20rem auto 4rem auto;
}

.left :not(.left h1), .right{
    font-family: "Inter";
}

.left p{
    margin-top: 1.5rem;
    line-height: 2.5rem;
    font-weight: 500;
}


.right{
    display: flex;
    justify-content: space-between;
}

.right h1{
    color: var(--accent);
}

.right ul{
    list-style: none;
}

.right ul li{
    margin: 2rem 0;
    cursor: pointer;
}
</style>