<template>
<div class='hero'>
   <div class="hero__gradient--t"> </div>
   <div class="hero__gradient--b"> </div>
   <div class="hero__container">
      <Navbar />
      <div class="hero__section">
         <div class="hero__section--desc">
            <span></span>
            <h3>A Hiking Guide</h3>
         </div>
         <h1>Be Prepared for the mountains and beyond!</h1>
         <p>scroll down <i class="fas fa-arrow-down"></i></p>
      </div>
      <div class="hero__socials">
         <span>Follow us</span>
         <i class="fab fa-instagram"></i>
         <i class="fab fa-twitter"></i>
      </div>
   </div>
</div>


</template>

<script>
import Navbar from './Navbar.vue';
export default {
  name: 'Hero',
  components:{
    Navbar
  },

}
</script>

<style scoped>

/* -------------- HERO ----------------*/
.hero{
  position: relative;
  z-index: 1;
  background: center/cover no-repeat url('../assets/img/hero.jpg')  ;
  height: 120vh;
}

@media screen and (max-width: 40rem) {
  .hero{
    background: center/cover no-repeat url('../assets/img/hero-mob.jpg')  ;
  }
}

.hero__container{
  position: relative;
  max-width: 90%;
  margin: auto;
  height: 100%;
}

.hero__gradient--t{
  position: absolute;
  top: 0;
  height: 90%;
  width: 100%;
  z-index: -1;
   background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%);
}

.hero__gradient--b{
  position: absolute;
  bottom: 0px;
  height: 300px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(11, 29, 38, 0),
rgba(11, 29, 38, 1));
  bottom: 0;
}

/* -------------- HERO SECTION ----------------*/

.hero__section{
  width: 50%;
  margin: 0 auto;
  margin-top: 14rem;
}

.hero__section--desc{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.hero__section--desc span{
  height: 2px;
  width: 50px;
  background: var(--accent);
}

.hero__section--desc h3{
 font-family: 'Inter';
 font-weight: 500;
 text-transform: uppercase;
 font-size: 1.4rem;
 letter-spacing: 7px;
 margin-left: 2rem ;
 color: var(--accent);
}

.hero__section h1{
  font-size: 8rem;
  font-family: 'Chronicle Display Semibold';
  color: white;
}

.hero__section p{
  cursor: pointer;
  font-family: "Inter";
  text-transform: lowercase;
  font-weight: 500;
  font-size: 20px;
  color:white;
  margin-top:20px;
}

/* -------------- HERO SOCIALS ----------------*/
.hero__socials{
  position: absolute;
  display: flex;
  align-items: center;
  left: -6rem;
  top: 30%;
  transform: rotate(-270deg);
  color: white;
}

.hero__socials span{
  font-family: 'Inter';
  font-size: 1.6rem;
  font-weight: 600;
}

.fa-instagram , .fa-twitter, .hero__socials span{
  cursor: pointer;
}
.fa-instagram{
  margin: 0 20px;
}

</style>