<template>
    <div class="hikeInfo" :class="isReversed && 'reversed'">
        <div class="hikeInfo__content" >
            <div :data-id="info.idx" class="hikeInfo__subHeading">
                <span></span>
                <h2>{{info.subHeading}}</h2>
            </div>
            <h1>{{info.heading}}</h1>
            <p>{{info.description}}</p>
            <h3>Read more --></h3>
        </div>
        <div class="hikeInfo__img">
            <img :style="isReversed && {objectPosition: 'left'}" :src="require(`../assets/img/${info.idx}.png`)" alt="">
        </div>
    </div>
</template>

<script>

export default {
   name: 'HikeInfo',
   props: ["info", "isReversed"],
}
</script>


<style scoped>
.hikeInfo{
    display: grid; 
    grid-template-columns: 60% 40%;
    grid-template-areas: "information image";
    width: 80%;
    margin: auto;
    color: white;
    margin-bottom: 10rem;
}



.reversed{
    grid-template-columns: 40% 60%;
    grid-template-areas: "image information";
}


.hikeInfo__content{
    grid-area: information;
    margin:auto;
    width: 70%;
}


.hikeInfo__subHeading{
    position: relative;
    display: flex;
    align-items: center;
}

.hikeInfo__subHeading::before{
    content: attr(data-id);
    position: absolute;
    z-index:2;
    top: -8rem;
    left: -8rem;
    font-size: 15rem;
    font-family: 'Inter';
    font-weight: 600;
    opacity: 0.2;
    color: white;
}


.hikeInfo__subHeading span{
    height: 3px;
    width: 50px;
    background: var(--accent);
}

.hikeInfo__subHeading h2{
    margin-left: 2rem;
    color: var(--accent);
    font-family: 'Inter';
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 4px;
}

.hikeInfo__content h1{
    font-weight: normal;
    line-height: 7rem;
    font-size: 6rem;
    margin: 2rem 0;
}

.hikeInfo__content p{
    font-family: 'Inter';
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.7rem;
}

.hikeInfo__content h3{
    cursor: pointer;
    color: var(--accent);
    margin-top: 2rem;
    font-family: "Inter";
    font-weight: 500;
    text-transform: lowercase;
}

.hikeInfo__img{
    grid-area: image;
    margin: auto;
    height: 100%;
    
}

.hikeInfo__img img{
    object-fit: cover;
    height: 100%;
    width: 100%;;
}


@media screen and (max-width: 60rem){
    .hikeInfo__subHeading::before{
        font-size:12rem;
        top: -7rem;
        left: -4rem;
    }
}

@media screen and (max-width: 40rem) {
     .hikeInfo__content h1{
        font-size: 5rem;
    }
}

</style>