<template>
    <nav>
        <h1 class="nav__start">MNTN</h1>
        <div class="nav__center">
            <h2>Equipment</h2>
            <h2>About us</h2>
            <h2>Blog</h2>
        </div>
        <h2 class="nav__end"><i class="far fa-user-circle"></i>Account</h2>
    </nav>
</template>

<script>

export default {    
    name: "Navbar"
}
</script>

<style scoped>
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 2rem 0;
}

h2{
    cursor: pointer;
}

.nav__center, .nav__end {
    font-family: "Inter";
    display: flex;
    align-items: center;
}


.nav__center h2, .nav__end{
    font-weight: bold;
    font-size: 1.6rem;
}

.nav__center :not(.nav__center:last-child) {
    margin-right: 20px;
}

.fa-user-circle{
    cursor: pointer;
    margin-right: 10px;
    font-size: 2rem;
}


</style>