<template>
 
  <div class="app">
    <main>
      <Hero />  
    
      <HikeInfo :info="first" />
      <HikeInfo :info="second" :isReversed="true" />
      <HikeInfo :info="third" />

      <Footer />
    </main>
  </div>  
</template>

<script>
import Hero from "./components/Hero.vue";
import HikeInfo from './components/HikeInfo.vue';
import Footer from './components/Footer.vue';
import data from "../data";


export default {
  name: "App",
  components: {
    Hero,
    HikeInfo, 
    Footer,
  },
  
  data(){
    return{
      first: data[0],
      second: data[1],
      third: data[2],
    }
  },
};
</script>


<style>

*{
  margin: 0;
  padding: 0;
}

:root{
  --primary: #0b1d26;
  --accent: rgba(251, 215, 132, 1);
}

html{
  font-size: 62.5%;
}


body{
  font-family: 'Chronicle Display Roman';
  font-size: 1.6rem;
}

.app{
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
  background: var(--primary);
}

@media screen and (max-width: 60rem){
    html{
      font-size: 52.5%;
    }
}

@media screen and (max-width: 40rem){
  html{
    font-size: 45%;
  }
}
</style>

