@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

@font-face {
  font-family: "Chronicle Display Light Italic";
  font-weight: lighter;
  src: local("Chronicle Display Light Italic"),
    url("../fonts/Chronicle\ Display\ Light\ Italic.woff") format("woff");
}

@font-face {
  font-family: "Chronicle Display Roman";
  src: local("Chronicle Display Roman"),
    url("../fonts/Chronicle\ Display\ Roman.woff") format("woff");
}

@font-face {
  font-family: "Chronicle Display Semibold";
  src: local("Chronicle Display Semibold"),
    url("../fonts/Chronicle\ Display\ Semibold.woff") format("woff");
}

@font-face {
  font-family: "Chronicle Display Black";
  src: local("Chronicle Display Black"),
    url("../fonts/Chronicle\ Display\ Black.woff") format("woff");
}
